/Assets/SteamVR
/Assets/SteamVR.meta
/Assets/Oculus
/Assets/Oculus.meta
/Assets/OculusMissing
/Assets/OculusMissing.meta
/Assets/Models/Demo
/Assets/Models/Demo.meta
.*.sw?
/.vs
/Library
/Temp
/*.csproj
/*.sln
*~
Thumbs.db

\.vscode/
/obj/Temp/Debug
obj/Debug/
